<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section_language</key>
	<string>언어선택</string>
	<key>section_area</key>
	<string>지역선택</string>
	<key>section_support</key>
	<string>지원</string>
	<key>section_other</key>
	<string>기타</string>
	<key>language_english</key>
	<string>영어</string>
	<key>language_japanese</key>
	<string>일본어</string>
	<key>language_korean</key>
	<string>한국어</string>
	<key>area_world</key>
	<string>전세계</string>
	<key>area_africa</key>
	<string>아프리카</string>
	<key>area_america</key>
	<string>미국</string>
	<key>area_asia</key>
	<string>아시아</string>
	<key>area_europe</key>
	<string>유럽</string>
	<key>area_oceania</key>
	<string>오세아니아</string>
	<key>sort_title</key>
	<string>국기의 정렬 (숨겨진 메뉴)</string>
	<key>sort_line_vertical</key>
	<string>세로 라인 국기</string>
	<key>sort_line_horizontal</key>
	<string>옆 라인 국기</string>
	<key>sort_line_cross</key>
	<string>크로스 라인 국기</string>
	<key>sort_sun</key>
	<string>태양 마크 국기</string>
	<key>sort_moon</key>
	<string>달 마크 국기</string>
	<key>sort_star</key>
	<string>★ 마크 국기</string>
	<key>sort_cancel</key>
	<string>취소</string>
	<key>review</key>
	<string>평가</string>
	<key>country_name</key>
	<string>【국명】</string>
	<key>country_code</key>
	<string>【국 코드】</string>
	<key>country_area</key>
	<string>【지역】</string>
	<key>country_detail</key>
	<string>【상세】</string>
	<key>wikipedia</key>
	<string>Wikipedia</string>
</dict>
</plist>
