<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section_language</key>
	<string>Select Language</string>
	<key>section_area</key>
	<string>Select Area</string>
	<key>section_support</key>
	<string>Support</string>
	<key>section_other</key>
	<string>Other</string>
	<key>language_english</key>
	<string>English</string>
	<key>language_japanese</key>
	<string>Japanese</string>
	<key>area_world</key>
	<string>All</string>
	<key>area_africa</key>
	<string>Africa</string>
	<key>area_america</key>
	<string>America</string>
	<key>area_asia</key>
	<string>Asia</string>
	<key>area_europe</key>
	<string>Europe</string>
	<key>area_oceania</key>
	<string>Oceania</string>
	<key>sort_title</key>
	<string>Sort Flag (Special Menu)</string>
	<key>sort_line_vertical</key>
	<string>vertical line flag</string>
	<key>sort_line_horizontal</key>
	<string>horizontal line flag</string>
	<key>sort_line_cross</key>
	<string>cross line flag</string>
	<key>sort_sun</key>
	<string>sun mark flag</string>
	<key>sort_moon</key>
	<string>moon mark flag</string>
	<key>sort_star</key>
	<string>star mark flag</string>
	<key>sort_cancel</key>
	<string>cancel</string>
	<key>review</key>
	<string>Review</string>
	<key>country_name</key>
	<string>Country Name</string>
	<key>country_code</key>
	<string>Country Code</string>
	<key>country_area</key>
	<string>Country Area</string>
	<key>country_detail</key>
	<string>Country Detail</string>
	<key>wikipedia</key>
	<string>Wikipedia</string>
</dict>
</plist>
