<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>af</string>
		<key>en</key>
		<string>Afghanistan</string>
		<key>ja</key>
		<string>アフガニスタン</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ax</string>
		<key>en</key>
		<string>Åland Islands</string>
		<key>ja</key>
		<string>オーランド諸島</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>al</string>
		<key>en</key>
		<string>Albania</string>
		<key>ja</key>
		<string>アルバニア</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dz</string>
		<key>en</key>
		<string>Algeria</string>
		<key>ja</key>
		<string>アルジェリア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>as</string>
		<key>en</key>
		<string>American Samoa</string>
		<key>ja</key>
		<string>アメリカ領サモア</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ad</string>
		<key>en</key>
		<string>Andorra</string>
		<key>ja</key>
		<string>アンドラ</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ao</string>
		<key>en</key>
		<string>Angola</string>
		<key>ja</key>
		<string>アンゴラ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ai</string>
		<key>en</key>
		<string>Anguilla</string>
		<key>ja</key>
		<string>アンギラ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ag</string>
		<key>en</key>
		<string>Antigua and Barbuda</string>
		<key>ja</key>
		<string>アンティグア・バーブーダ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ar</string>
		<key>en</key>
		<string>Argentina</string>
		<key>ja</key>
		<string>アルゼンチン</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>am</string>
		<key>en</key>
		<string>Armenia</string>
		<key>ja</key>
		<string>アルメニア</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>aw</string>
		<key>en</key>
		<string>Aruba</string>
		<key>ja</key>
		<string>アルバ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>au</string>
		<key>en</key>
		<string>Australia</string>
		<key>ja</key>
		<string>オーストラリア</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>at</string>
		<key>en</key>
		<string>Austria</string>
		<key>ja</key>
		<string>オーストリア</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>az</string>
		<key>en</key>
		<string>Azerbaijan</string>
		<key>ja</key>
		<string>アゼルバイジャン</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bs</string>
		<key>en</key>
		<string>Bahamas</string>
		<key>ja</key>
		<string>バハマ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bh</string>
		<key>en</key>
		<string>Bahrain</string>
		<key>ja</key>
		<string>バーレーン</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bd</string>
		<key>en</key>
		<string>Bangladesh</string>
		<key>ja</key>
		<string>バングラデシュ</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bb</string>
		<key>en</key>
		<string>Barbados</string>
		<key>ja</key>
		<string>バルバドス</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>by</string>
		<key>en</key>
		<string>Belarus</string>
		<key>ja</key>
		<string>ベラルーシ</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>be</string>
		<key>en</key>
		<string>Belgium</string>
		<key>ja</key>
		<string>ベルギー</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bz</string>
		<key>en</key>
		<string>Belize</string>
		<key>ja</key>
		<string>ベリーズ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bj</string>
		<key>en</key>
		<string>Benin</string>
		<key>ja</key>
		<string>ベナン</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bm</string>
		<key>en</key>
		<string>Bermuda</string>
		<key>ja</key>
		<string>バミューダ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bt</string>
		<key>en</key>
		<string>Bhutan</string>
		<key>ja</key>
		<string>ブータン</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bo</string>
		<key>en</key>
		<string>Bolivia, Plurinational State of</string>
		<key>ja</key>
		<string>ボリビア多民族国</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ba</string>
		<key>en</key>
		<string>Bosnia and Herzegovina</string>
		<key>ja</key>
		<string>ボスニア・ヘルツェゴビナ</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bw</string>
		<key>en</key>
		<string>Botswana</string>
		<key>ja</key>
		<string>ボツワナ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>br</string>
		<key>en</key>
		<string>Brazil</string>
		<key>ja</key>
		<string>ブラジル</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>io</string>
		<key>en</key>
		<string>British Indian Ocean Territory</string>
		<key>ja</key>
		<string>イギリス領インド洋地域</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bn</string>
		<key>en</key>
		<string>Brunei Darussalam</string>
		<key>ja</key>
		<string>ブルネイ・ダルサラーム</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bg</string>
		<key>en</key>
		<string>Bulgaria</string>
		<key>ja</key>
		<string>ブルガリア</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bf</string>
		<key>en</key>
		<string>Burkina Faso</string>
		<key>ja</key>
		<string>ブルキナファソ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>bi</string>
		<key>en</key>
		<string>Burundi</string>
		<key>ja</key>
		<string>ブルンジ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kh</string>
		<key>en</key>
		<string>Cambodia</string>
		<key>ja</key>
		<string>カンボジア</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cm</string>
		<key>en</key>
		<string>Cameroon</string>
		<key>ja</key>
		<string>カメルーン</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ca</string>
		<key>en</key>
		<string>Canada</string>
		<key>ja</key>
		<string>カナダ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cv</string>
		<key>en</key>
		<string>Cabo Verde</string>
		<key>ja</key>
		<string>カーボベルデ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cf</string>
		<key>en</key>
		<string>Central African Republic</string>
		<key>ja</key>
		<string>中央アフリカ共和国</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>td</string>
		<key>en</key>
		<string>Chad</string>
		<key>ja</key>
		<string>チャド</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cl</string>
		<key>en</key>
		<string>Chile</string>
		<key>ja</key>
		<string>チリ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cn</string>
		<key>en</key>
		<string>China</string>
		<key>ja</key>
		<string>中華人民共和国</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>co</string>
		<key>en</key>
		<string>Colombia</string>
		<key>ja</key>
		<string>コロンビア</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>km</string>
		<key>en</key>
		<string>Comoros</string>
		<key>ja</key>
		<string>コモロ</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cg</string>
		<key>en</key>
		<string>Congo</string>
		<key>ja</key>
		<string>コンゴ共和国</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cd</string>
		<key>en</key>
		<string>Congo, the Democratic Republic of the</string>
		<key>ja</key>
		<string>コンゴ民主共和国</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cr</string>
		<key>en</key>
		<string>Costa Rica</string>
		<key>ja</key>
		<string>コスタリカ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ci</string>
		<key>en</key>
		<string>Côte d&apos;Ivoire</string>
		<key>ja</key>
		<string>コートジボワール</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hr</string>
		<key>en</key>
		<string>Croatia</string>
		<key>ja</key>
		<string>クロアチア</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cu</string>
		<key>en</key>
		<string>Cuba</string>
		<key>ja</key>
		<string>キューバ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cy</string>
		<key>en</key>
		<string>Cyprus</string>
		<key>ja</key>
		<string>キプロス</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>cz</string>
		<key>en</key>
		<string>Czech Republic</string>
		<key>ja</key>
		<string>チェコ</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dk</string>
		<key>en</key>
		<string>Denmark</string>
		<key>ja</key>
		<string>デンマーク</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dj</string>
		<key>en</key>
		<string>Djibouti</string>
		<key>ja</key>
		<string>ジブチ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>dm</string>
		<key>en</key>
		<string>Dominica</string>
		<key>ja</key>
		<string>ドミニカ国</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>do</string>
		<key>en</key>
		<string>Dominican Republic</string>
		<key>ja</key>
		<string>ドミニカ共和国</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ec</string>
		<key>en</key>
		<string>Ecuador</string>
		<key>ja</key>
		<string>エクアドル</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>eg</string>
		<key>en</key>
		<string>Egypt</string>
		<key>ja</key>
		<string>エジプト</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sv</string>
		<key>en</key>
		<string>El Salvador</string>
		<key>ja</key>
		<string>エルサルバドル</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gq</string>
		<key>en</key>
		<string>Equatorial Guinea</string>
		<key>ja</key>
		<string>赤道ギニア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>er</string>
		<key>en</key>
		<string>Eritrea</string>
		<key>ja</key>
		<string>エリトリア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ee</string>
		<key>en</key>
		<string>Estonia</string>
		<key>ja</key>
		<string>エストニア</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>et</string>
		<key>en</key>
		<string>Ethiopia</string>
		<key>ja</key>
		<string>エチオピア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fj</string>
		<key>en</key>
		<string>Falkland Islands (Malvinas)</string>
		<key>ja</key>
		<string>フォークランド（マルビナス）諸島</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fi</string>
		<key>en</key>
		<string>Faroe Islands</string>
		<key>ja</key>
		<string>フェロー諸島</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fr</string>
		<key>en</key>
		<string>France</string>
		<key>ja</key>
		<string>フランス</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ga</string>
		<key>en</key>
		<string>French Guiana</string>
		<key>ja</key>
		<string>フランス領ギアナ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gm</string>
		<key>en</key>
		<string>Gambia</string>
		<key>ja</key>
		<string>ガンビア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ge</string>
		<key>en</key>
		<string>Georgia</string>
		<key>ja</key>
		<string>グルジア</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>de</string>
		<key>en</key>
		<string>Germany</string>
		<key>ja</key>
		<string>ドイツ</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gh</string>
		<key>en</key>
		<string>Ghana</string>
		<key>ja</key>
		<string>ガーナ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gr</string>
		<key>en</key>
		<string>Greece</string>
		<key>ja</key>
		<string>ギリシャ</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gd</string>
		<key>en</key>
		<string>Grenada</string>
		<key>ja</key>
		<string>グレナダ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gt</string>
		<key>en</key>
		<string>Guatemala</string>
		<key>ja</key>
		<string>グアテマラ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gn</string>
		<key>en</key>
		<string>Guinea</string>
		<key>ja</key>
		<string>ギニア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gw</string>
		<key>en</key>
		<string>Guinea-Bissau</string>
		<key>ja</key>
		<string>ギニアビサウ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>gy</string>
		<key>en</key>
		<string>Guyana</string>
		<key>ja</key>
		<string>ガイアナ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ht</string>
		<key>en</key>
		<string>Haiti</string>
		<key>ja</key>
		<string>ハイチ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>va</string>
		<key>en</key>
		<string>Holy See (Vatican City State)</string>
		<key>ja</key>
		<string>バチカン市国</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hn</string>
		<key>en</key>
		<string>Honduras</string>
		<key>ja</key>
		<string>ホンジュラス</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hk</string>
		<key>en</key>
		<string>Hong Kong</string>
		<key>ja</key>
		<string>香港</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>hu</string>
		<key>en</key>
		<string>Hungary</string>
		<key>ja</key>
		<string>ハンガリー</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>is</string>
		<key>en</key>
		<string>Iceland</string>
		<key>ja</key>
		<string>アイスランド</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>in</string>
		<key>en</key>
		<string>India</string>
		<key>ja</key>
		<string>インド</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>id</string>
		<key>en</key>
		<string>Indonesia</string>
		<key>ja</key>
		<string>インドネシア</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ir</string>
		<key>en</key>
		<string>Iran, Islamic Republic of</string>
		<key>ja</key>
		<string>イラン・イスラム共和国</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>iq</string>
		<key>en</key>
		<string>Iraq</string>
		<key>ja</key>
		<string>イラク</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ie</string>
		<key>en</key>
		<string>Ireland</string>
		<key>ja</key>
		<string>アイルランド</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>il</string>
		<key>en</key>
		<string>Israel</string>
		<key>ja</key>
		<string>イスラエル</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>it</string>
		<key>en</key>
		<string>Italy</string>
		<key>ja</key>
		<string>イタリア</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jm</string>
		<key>en</key>
		<string>Jamaica</string>
		<key>ja</key>
		<string>ジャマイカ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jp</string>
		<key>en</key>
		<string>Japan</string>
		<key>ja</key>
		<string>日本</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>jo</string>
		<key>en</key>
		<string>Jordan</string>
		<key>ja</key>
		<string>ヨルダン</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kz</string>
		<key>en</key>
		<string>Kazakhstan</string>
		<key>ja</key>
		<string>カザフスタン</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ke</string>
		<key>en</key>
		<string>Kenya</string>
		<key>ja</key>
		<string>ケニア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ki</string>
		<key>en</key>
		<string>Kiribati</string>
		<key>ja</key>
		<string>キリバス</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kp</string>
		<key>en</key>
		<string>Korea, Democratic People&apos;s Republic of</string>
		<key>ja</key>
		<string>朝鮮民主主義人民共和国</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kr</string>
		<key>en</key>
		<string>Korea, Republic of</string>
		<key>ja</key>
		<string>韓国</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kw</string>
		<key>en</key>
		<string>Kuwait</string>
		<key>ja</key>
		<string>クウェート</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kg</string>
		<key>en</key>
		<string>Kyrgyzstan</string>
		<key>ja</key>
		<string>キルギス</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>la</string>
		<key>en</key>
		<string>Lao People&apos;s Democratic Republic</string>
		<key>ja</key>
		<string>ラオス人民民主共和国</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lv</string>
		<key>en</key>
		<string>Latvia</string>
		<key>ja</key>
		<string>ラトビア</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lb</string>
		<key>en</key>
		<string>Lebanon</string>
		<key>ja</key>
		<string>レバノン</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ls</string>
		<key>en</key>
		<string>Lesotho</string>
		<key>ja</key>
		<string>レソト</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lr</string>
		<key>en</key>
		<string>Liberia</string>
		<key>ja</key>
		<string>リベリア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ly</string>
		<key>en</key>
		<string>Libya</string>
		<key>ja</key>
		<string>リビア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>li</string>
		<key>en</key>
		<string>Liechtenstein</string>
		<key>ja</key>
		<string>リヒテンシュタイン</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lt</string>
		<key>en</key>
		<string>Lithuania</string>
		<key>ja</key>
		<string>リトアニア</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lu</string>
		<key>en</key>
		<string>Luxembourg</string>
		<key>ja</key>
		<string>ルクセンブルク</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mk</string>
		<key>en</key>
		<string>Macedonia, the former Yugoslav Republic of</string>
		<key>ja</key>
		<string>マケドニア旧ユーゴスラビア共和国</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mg</string>
		<key>en</key>
		<string>Madagascar</string>
		<key>ja</key>
		<string>マダガスカル</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mw</string>
		<key>en</key>
		<string>Malawi</string>
		<key>ja</key>
		<string>マラウイ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>my</string>
		<key>en</key>
		<string>Malaysia</string>
		<key>ja</key>
		<string>マレーシア</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mv</string>
		<key>en</key>
		<string>Maldives</string>
		<key>ja</key>
		<string>モルディブ</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mt</string>
		<key>en</key>
		<string>Malta</string>
		<key>ja</key>
		<string>マルタ</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mh</string>
		<key>en</key>
		<string>Marshall Islands</string>
		<key>ja</key>
		<string>マーシャル諸島</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mr</string>
		<key>en</key>
		<string>Mauritania</string>
		<key>ja</key>
		<string>モーリタニア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mu</string>
		<key>en</key>
		<string>Mauritius</string>
		<key>ja</key>
		<string>モーリシャス</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mx</string>
		<key>en</key>
		<string>Mexico</string>
		<key>ja</key>
		<string>メキシコ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>fm</string>
		<key>en</key>
		<string>Micronesia, Federated States of</string>
		<key>ja</key>
		<string>ミクロネシア連邦</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>md</string>
		<key>en</key>
		<string>Moldova, Republic of</string>
		<key>ja</key>
		<string>モルドバ共和国</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mc</string>
		<key>en</key>
		<string>Monaco</string>
		<key>ja</key>
		<string>モナコ</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mn</string>
		<key>en</key>
		<string>Mongolia</string>
		<key>ja</key>
		<string>モンゴル</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ma</string>
		<key>en</key>
		<string>Morocco</string>
		<key>ja</key>
		<string>モロッコ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mz</string>
		<key>en</key>
		<string>Mozambique</string>
		<key>ja</key>
		<string>モザンビーク</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>mm</string>
		<key>en</key>
		<string>Myanmar</string>
		<key>ja</key>
		<string>ミャンマー</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>na</string>
		<key>en</key>
		<string>Namibia</string>
		<key>ja</key>
		<string>ナミビア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>nr</string>
		<key>en</key>
		<string>Nauru</string>
		<key>ja</key>
		<string>ナウル</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>np</string>
		<key>en</key>
		<string>Nepal</string>
		<key>ja</key>
		<string>ネパール</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>nl</string>
		<key>en</key>
		<string>Netherlands</string>
		<key>ja</key>
		<string>オランダ</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>nz</string>
		<key>en</key>
		<string>New Zealand</string>
		<key>ja</key>
		<string>ニュージーランド</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ni</string>
		<key>en</key>
		<string>Nicaragua</string>
		<key>ja</key>
		<string>ニカラグア</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ne</string>
		<key>en</key>
		<string>Niger</string>
		<key>ja</key>
		<string>ニジェール</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ng</string>
		<key>en</key>
		<string>Nigeria</string>
		<key>ja</key>
		<string>ナイジェリア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>no</string>
		<key>en</key>
		<string>Norway</string>
		<key>ja</key>
		<string>ノルウェー</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>om</string>
		<key>en</key>
		<string>Oman</string>
		<key>ja</key>
		<string>オマーン</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pk</string>
		<key>en</key>
		<string>Pakistan</string>
		<key>ja</key>
		<string>パキスタン</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pw</string>
		<key>en</key>
		<string>Palau</string>
		<key>ja</key>
		<string>パラオ</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pa</string>
		<key>en</key>
		<string>Panama</string>
		<key>ja</key>
		<string>パナマ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pg</string>
		<key>en</key>
		<string>Papua New Guinea</string>
		<key>ja</key>
		<string>パプアニューギニア</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>py</string>
		<key>en</key>
		<string>Paraguay</string>
		<key>ja</key>
		<string>パラグアイ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pe</string>
		<key>en</key>
		<string>Peru</string>
		<key>ja</key>
		<string>ペルー</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ph</string>
		<key>en</key>
		<string>Philippines</string>
		<key>ja</key>
		<string>フィリピン</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pl</string>
		<key>en</key>
		<string>Poland</string>
		<key>ja</key>
		<string>ポーランド</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>pt</string>
		<key>en</key>
		<string>Portugal</string>
		<key>ja</key>
		<string>ポルトガル</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>qa</string>
		<key>en</key>
		<string>Qatar</string>
		<key>ja</key>
		<string>カタール</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ro</string>
		<key>en</key>
		<string>Romania</string>
		<key>ja</key>
		<string>ルーマニア</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ru</string>
		<key>en</key>
		<string>Russian Federation</string>
		<key>ja</key>
		<string>ロシア連邦</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>rw</string>
		<key>en</key>
		<string>Rwanda</string>
		<key>ja</key>
		<string>ルワンダ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>kn</string>
		<key>en</key>
		<string>Saint Kitts and Nevis</string>
		<key>ja</key>
		<string>セントクリストファー・ネイビス</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lc</string>
		<key>en</key>
		<string>Saint Lucia</string>
		<key>ja</key>
		<string>セントルシア</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>vc</string>
		<key>en</key>
		<string>Saint Vincent and the Grenadines</string>
		<key>ja</key>
		<string>セントビンセントおよびグレナディーン諸島</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ws</string>
		<key>en</key>
		<string>Samoa</string>
		<key>ja</key>
		<string>サモア</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sm</string>
		<key>en</key>
		<string>San Marino</string>
		<key>ja</key>
		<string>サンマリノ</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>st</string>
		<key>en</key>
		<string>Sao Tome and Principe</string>
		<key>ja</key>
		<string>サントメ・プリンシペ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sa</string>
		<key>en</key>
		<string>Saudi Arabia</string>
		<key>ja</key>
		<string>サウジアラビア</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sc</string>
		<key>en</key>
		<string>Seychelles</string>
		<key>ja</key>
		<string>セーシェル</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sl</string>
		<key>en</key>
		<string>Sierra Leone</string>
		<key>ja</key>
		<string>シエラレオネ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sg</string>
		<key>en</key>
		<string>Singapore</string>
		<key>ja</key>
		<string>シンガポール</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sk</string>
		<key>en</key>
		<string>Slovakia</string>
		<key>ja</key>
		<string>スロバキア</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>si</string>
		<key>en</key>
		<string>Slovenia</string>
		<key>ja</key>
		<string>スロベニア</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sb</string>
		<key>en</key>
		<string>Solomon Islands</string>
		<key>ja</key>
		<string>ソロモン諸島</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>so</string>
		<key>en</key>
		<string>Somalia</string>
		<key>ja</key>
		<string>ソマリア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>za</string>
		<key>en</key>
		<string>South Africa</string>
		<key>ja</key>
		<string>南アフリカ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ss</string>
		<key>en</key>
		<string>South Sudan</string>
		<key>ja</key>
		<string>南スーダン</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>es</string>
		<key>en</key>
		<string>Spain</string>
		<key>ja</key>
		<string>スペイン</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>lk</string>
		<key>en</key>
		<string>Sri Lanka</string>
		<key>ja</key>
		<string>スリランカ</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sd</string>
		<key>en</key>
		<string>Sudan</string>
		<key>ja</key>
		<string>スーダン</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sr</string>
		<key>en</key>
		<string>Suriname</string>
		<key>ja</key>
		<string>スリナム</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sz</string>
		<key>en</key>
		<string>Swaziland</string>
		<key>ja</key>
		<string>スワジランド</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>se</string>
		<key>en</key>
		<string>Sweden</string>
		<key>ja</key>
		<string>スウェーデン</string>
		<key>area</key>
		<string>eupope</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ch</string>
		<key>en</key>
		<string>Switzerland</string>
		<key>ja</key>
		<string>スイス</string>
		<key>area</key>
		<string>europe</string>
	</dict>
	<dict>
		<key>code</key>
		<string>sy</string>
		<key>en</key>
		<string>Syrian Arab Republic</string>
		<key>ja</key>
		<string>シリア・アラブ共和国</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tj</string>
		<key>en</key>
		<string>Tajikistan</string>
		<key>ja</key>
		<string>タジキスタン</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tz</string>
		<key>en</key>
		<string>Tanzania, United Republic of</string>
		<key>ja</key>
		<string>タンザニア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>th</string>
		<key>en</key>
		<string>Thailand</string>
		<key>ja</key>
		<string>タイ</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tl</string>
		<key>en</key>
		<string>Timor-Leste</string>
		<key>ja</key>
		<string>東ティモール</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tg</string>
		<key>en</key>
		<string>Togo</string>
		<key>ja</key>
		<string>トーゴ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>to</string>
		<key>en</key>
		<string>Tonga</string>
		<key>ja</key>
		<string>トンガ</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tt</string>
		<key>en</key>
		<string>Trinidad and Tobago</string>
		<key>ja</key>
		<string>トリニダード・トバゴ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tn</string>
		<key>en</key>
		<string>Tunisia</string>
		<key>ja</key>
		<string>チュニジア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tr</string>
		<key>en</key>
		<string>Turkey</string>
		<key>ja</key>
		<string>トルコ</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tm</string>
		<key>en</key>
		<string>Turkmenistan</string>
		<key>ja</key>
		<string>トルクメニスタン</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>tv</string>
		<key>en</key>
		<string>Tuvalu</string>
		<key>ja</key>
		<string>ツバル</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ug</string>
		<key>en</key>
		<string>Uganda</string>
		<key>ja</key>
		<string>ウガンダ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ua</string>
		<key>en</key>
		<string>Ukraine</string>
		<key>ja</key>
		<string>ウクライナ</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ae</string>
		<key>en</key>
		<string>United Arab Emirates</string>
		<key>ja</key>
		<string>アラブ首長国連邦</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>us</string>
		<key>en</key>
		<string>United States</string>
		<key>ja</key>
		<string>アメリカ合衆国</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>uy</string>
		<key>en</key>
		<string>Uruguay</string>
		<key>ja</key>
		<string>ウルグアイ</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>uz</string>
		<key>en</key>
		<string>Uzbekistan</string>
		<key>ja</key>
		<string>ウズベキスタン</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>vu</string>
		<key>en</key>
		<string>Vanuatu</string>
		<key>ja</key>
		<string>バヌアツ</string>
		<key>area</key>
		<string>oceania</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ve</string>
		<key>en</key>
		<string>Venezuela, Bolivarian Republic of</string>
		<key>ja</key>
		<string>ベネズエラ・ボリバル共和国</string>
		<key>area</key>
		<string>america</string>
	</dict>
	<dict>
		<key>code</key>
		<string>vn</string>
		<key>en</key>
		<string>Viet Nam</string>
		<key>ja</key>
		<string>ベトナム</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>ye</string>
		<key>en</key>
		<string>Yemen</string>
		<key>ja</key>
		<string>イエメン</string>
		<key>area</key>
		<string>asia</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zm</string>
		<key>en</key>
		<string>Zambia</string>
		<key>ja</key>
		<string>ザンビア</string>
		<key>area</key>
		<string>africa</string>
	</dict>
	<dict>
		<key>code</key>
		<string>zw</string>
		<key>en</key>
		<string>Zimbabwe</string>
		<key>ja</key>
		<string>ジンバブエ</string>
		<key>area</key>
		<string>africa</string>
	</dict>
</array>
</plist>
